/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
html { scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-family: 'Montserrat';
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 85%; 
  margin: 0 auto;
}

//COMMON CLASSES
.block { display: block; }
.none { display: none; }
.no-scroll { overflow: hidden; }

main { animation: mainpopup 7s forwards; }

@keyframes mainpopup {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slide-up {
	0% { 
		opacity: 1;
		z-index: 2;
	}

	99% { 
		opacity: 0;
		z-index: 2;
	}

	100% { 
		opacity: 0;
		display: none;
		z-index: -1;
	}
}

.welcome-user {
	animation: no-scroll 7s ease-in-out forwards;
}

@keyframes no-scroll {
	0% { overflow: hidden;}
	99% { overflow: hidden; }
	100% { overflow: auto; }
}