/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
html { scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-family: 'Montserrat';
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 85%; 
  margin: 0 auto;
}

//COMMON CLASSES
.block { display: block; }
.none { display: none; }
.no-scroll { overflow: hidden; }

main { animation: mainpopup 3s forwards; }

@keyframes mainpopup {
  0% { display: none; }
  99% { display: none; }
  100% { display: block; }
}


.welcome {
	width: 100%;
	height: 100vh;
	@include position(fixed,5,0,0,0,0);
	background:  url('../images/Dwelcome.jpg') 50% 50% no-repeat;
	background-size: cover;
	text-indent: -9999px;
	animation: slide-up 4s ease-in 3s forwards;

	@include breakpoint(phone) {
		background:  url('../images/Mwelcome.jpeg') 50% 50% no-repeat;
		background-size: cover;
	}
}

@keyframes slide-up {
	0% { 
		opacity: 1;
		z-index: 2;
	}

	99% { 
		opacity: 0;
		z-index: 2;
	}

	100% { 
		opacity: 0;
		display: none;
		z-index: -1;
	}
}

.welcome-user {
	animation: no-scroll 7s ease-in-out forwards;
}

@keyframes no-scroll {
	0% { overflow: hidden;}
	99% { overflow: hidden; }
	100% { overflow: auto; }
}